* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #e3eaf8;
}

.corner {
    max-width: 100%;
    display: block;
    border-radius: 12px;
}

header {
    background-color: #1d396d;
    color: #ffffff;
    text-align: center;
    padding: 1% 2%;
}

header a {
    height: 80px;
    max-width: 100%;
    display: block;
}

nav {
    display: flex;
    background-color: #1d396d;
    margin-bottom: 1.5em;
    position: -webkit-sticky;
}

nav ul {
    padding: 0 50px;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 1.5em;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover {
    color: #8bed8d;
}

footer {
    color: #ffffff;
    background-color: #1d396d;
    padding: 1% 0;
    width: 100%;
}

footer p {
    padding: 0 1.5em;
}

footer a {
    color: #e3eaf8;
    text-decoration: none;
    transition: 0.5s;
    margin: 0 1.5em;
}

footer a:hover {
    color: aqua;
}